

<!-- <CalendarSnippet> -->
{% extends "tutorial/layout.html" %}
{% block content %}
    <h1>Users</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Display Name</th>
            <th scope="col">Given Name</th>
            <th scope="col">email</th>
            <th scope="col">Issue</th>
        </tr>
        </thead>
        <tbody>
        {% if usersList %}
            {% for user in usersList %}
                <tr>
                    <td>{{ user.displayName }}</td>
                    <td>{{ user.givenName }}</td>
                    <td>{{ user.userPrincipalName }}</td>
                    <td>{{ user.isIssue }}</td>
                </tr>
            {% endfor %}

        {% endif %}
        </tbody>

    </table>
    <div style="text-align: center;">
    <form action="/email/users-report" method="POST" >{% csrf_token %}
        <button  type="submit" targe>Send to Mail</button>
    </form>
    </div>
{% endblock %}
<!-- </CalendarSnippet> -->
